package-lock.json
node_modules/
dist/hello_extensions.png
dist/hello.html
dist/manifest.json
dist/service-worker-loader.js
dist/assets/content-script-loader.content.js.js
dist/assets/crx-client-port.js
dist/assets/precontroller.js.js
dist/assets/webcomponents-custom-elements-z7FmG.js
dist/content/content.js
